<div class="message-user <%= css_class %>">
  <div class="message-card <%= css_class %>">
    <div class="card-body">
      <p><%= message.content %><i><%= message.created_at.strftime("%l:%M %p") %></i></p>
    </div>
  </div>
</div>
