<div class="profile-index-container">
  <h1>TEAM8 algorithms have worked hard to find profiles that match your interests </h1>
  <% @users.each do |user| %>
    <div class="user-card">
<img src="https://api.dicebear.com/7.x/avataaars/<%= URI.encode_www_form_component(user.first_name) %>.svg" alt="User Avatar" class="user-avatar">
      <div class="card-body">
        <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
        <p class="card-text">Age: <%= user.age %></p>
      </div>
    </div>
  <% end %>
</div>
