<div class="profile-index-container">
<h1>Browse profiles with similar interests to you</h1>
 <% @users.each do |user| %>
  <div class="user-card" style="width: 18rem; margin-bottom: 20px;">
    <div class="card-body">
      <h5 class="card-title"><%= user.first_name %> <%= user.last_name %></h5>
      <p class="card-text">Age: <%= user.age %></p>
    </div>
  </div>
<% end %>
</div>
