<h1>Welcome, TEAM8!</h1>

<% if @profile.user == current_user %>
  <p>First Name: <%= @profile.user.first_name %></p>
  <p>Last Name: <%= @profile.user.last_name %></p>
<% end %>

<% if @activities.present? %>
  <% @activities.each do |activity| %>
    <div>
      <%= activity.name %>
    </div>
  <% end %>
<% else %>
  <p>No activities found.</p>
<% end %>
