// Define variables for your color scheme

// Brand
$brand-01: #001129;
$brand-02: #00193D;
$brand-03: #002A66;
$brand-04: #003B8F;
$brand-05: #0047AB;
$brand-06: #0066F5;
$brand-07: #3388FF;
$brand-08: #85B8FF;
$brand-09: #ADCFFF;
$brand-10: #D6E7FF;

// Font
$font-dark: #0F0F0F;
$font-mid: #6F6F6F;
$font-light: #B7B7B7;
$white: #FFFFFF;

// Validation
$success: #00BA88;
$error: #E52B67;
$warning: #FFA500;
$bright-yellow: #FFEB3B;
$soft-purple: #9C27B0;
$neutral: #4B92D4;

$red: #E52B67;
$blue: #0066F5;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$black: #0F0F0F;
$light-gray: #B7B7B7;
