// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Define fonts for body and headers
$body-font: "Montserrat";
$headers-font: "Montserrat";
$logo-font: 'Montserrat Alternates';

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  font-weight: 600;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p.large {
  font-size: 16px;
  .regular {
    font-weight: 400;
  }
  .medium {
    font-weight: 500;
  }
}

p.small-regular {
  font-size: 14px;
  .regular {
    font-weight: 400;
  }
  .medium {
    font-weight: 500;
  }
}
