.card-button-index {
  width: 150px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 100px;
  background: linear-gradient(44.46deg, #0047AB 0%, #3388FF 100%);
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
