.bookmark-show-page{
  background-image: linear-gradient(90deg, $brand-08 0%, $brand-09 35%, $brand-10 100%);
}

.activity-h2-show{
  color: $font-mid;
  font-size: 12px;
  padding: 10px;
}

.activity-h2-profile-index {
  color: $font-mid;
  font-size: 18px;
  padding: 10px;
}
