body.profile-home-page {
  background: linear-gradient(44.46deg, #85B8FF 0%, #ADCFFF 100%);
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container-home{
  background-color: #D6E7FF;
  border-radius: 80px 0 0 0;
  padding: 30px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  margin: 0;
}

.main-container-login{
  background-color: #D6E7FF;
  border-radius: 80px 0 0 0;
  padding: 30px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.brand-container{
  color: white;
  border: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
