.background-page {
  background: linear-gradient(44.46deg, #0047ab, #00ba88);

}
.top-section-match,
.chatroom,
.bottom-section {
  background-color: transparent;
}

// Message content
.message-card.current-user-message {
  background-color: #007AFF;
  margin-right: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  text-align: right;
}

.message-card.other-user-message {
  background-color: #D3D3D3;
  margin-left: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  text-align: left;
}

.current-user-message {
  display: flex;
  justify-content: flex-end;

}

.other-user-message {
  display: flex;
  justify-content: flex-start;
}

p {
  margin-bottom: 0px !important;
}

.message-user {
  margin-bottom: 2px;
}


.card-body {
  padding: 10px;
}

.card-body i {
  font-size: 10px;
}

.card-body p {
  font-size: 17px;
}

// Top Bar

.top-section-match {
  padding: 20px;
  height: 55px;
  background-color: #f0f6fe;
  border-radius: 0px 0px 0px 55px;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  text-align: end;
  font-size: 30px;
}

.go-back-link {
  margin-right: 20px;
}

// messages, input text bar

.messages {
  padding-top: 26px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  top: 35px;
  min-height: 100vh;
  margin-bottom: 145px;
}

.bottom-section {
  // position: sticky;
  bottom: 100px;
  width: 100%;

  width: 100%;
  height: 750px;
  background-color: transparent;
  top: 83vh;
  position: fixed;
}

//input bar

.custom-form {
  padding-left: 24px;
}

.custom-form .custom-input textarea {
  height: 49.5px;
  width: 350px;
  border-radius: 50px;
  line-height: 35px;
}

.custom-form .custom-input {
  height: 49.5px;
  width: 300px;
  border: #b7b7b7;
}

.custom-form .custom-submit {
  width: 80px;
  z-index: 1;
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.custom-form .custom-input .form-control {
  border: none;
}
