.background-page {
  background: linear-gradient(44.46deg, #0047ab, #00ba88);
}

// Message content
.message-card.current-user-message {
  background-color: #007AFF;
  margin-right: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  text-align: right;
}

.message-card.other-user-message {
  background-color: #D3D3D3;
  margin-left: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  text-align: left;
}

.current-user-message {
  display: flex;
  justify-content: flex-end;

}

.other-user-message {
  display: flex;
  justify-content: flex-start;
}

p {
  margin-bottom: 0px !important;
}

.message-user {
  margin-bottom: 2px;
}


.card-body {
  padding: 10px;
}

// Top Bar

.top-section {
  padding: 20px;
  background-color: #f0f6fe;
  border-radius: 0px 0px 0px 55px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}

.user-info {
  text-align: center;
  font-size: 30px;
}

.go-back-link {
  margin-right: 20px;
}

// messages, input text bar

.messages {
  margin-top: 90px;
  margin-bottom: 10px;
  min-height: 70vh;
}

.bottom-section {
  position: sticky;
  bottom: 100px;
  width: 100%;
  background-color: transparent;
}

.chatroom {
}
