.profile-show-page{
  background-color: #00B488;
}

.container-lhs-curve{
  background-color: #D6E7FF;
  border-radius: 150px 0 0 0;
  padding: 20px
}

.profile-show-activity-card{
  padding:0;
}

.profile-show-activity-card{
  border-radius: 50px ;
  background-color: #F2F2F2 ;
  margin-top: 30px;
  margin-left: 30px;
}

.profile-h2-show{
  color: white;
  margin-left: 0;
  font-family: Montserrat;
}
