// .profile-form {
//   max-width: 600px;
//   margin: 40px auto;
//   padding: 40px;
//   background-color: #f8f8f8;
//   border-radius: 8px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//   display: flex;
//   justify-content: center;
// }

// .profile-form h1, .profile-form h2, .profile-form h3 {
//   color: #333;
// }

// .profile-form div {
//   margin-bottom: 15px;
// }

// .profile-form label {
//   display: block;
//   margin-bottom: 5px;
//   color: #666;
// }

// .profile-form input[type="text"],
// .profile-form select,
// .profile-form input[type="file"] {
//   width: 100%;
//   padding: 8px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
// }

// .profile-form .form-actions {
//   text-align: right;
// }

// @media (max-width: 576px) {
//   .profile-form {
//     margin: 10px;
//     padding: 10px;
//   }
//   .profile-form .form-actions {
//     text-align: center;
//   }
// }

// .form-step.active-step {
//   display: block;
// }

// Navigation bar (CREAR PARTIAL DESPUES)

.new-profile {
  width: 100%;
  position: fixed; /* Cambiado a posicionamiento fijo */
  top: 0; /* Fija el contenedor en la parte superior */
  left: 0; /* Fija el contenedor a la izquierda */
  height: 100vh; /* Establece la altura al 100% de la ventana visible */
  overflow-y: auto;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: Montserrat;
}
.left-action-icon {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 8;
  display: flex; /* Agregamos display flex */
  align-items: center; /* Centramos verticalmente */
  justify-content: center; /* Centramos horizontalmente */
}
.arrow-left-icon {
  color: $font-dark;
  font-size: 24px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  line-height: 24px;
  height: 24px;
}
.indicator {
  width: 200px;
  position: relative;
  border-radius: 40px;
  background-color: #00ba88;
  height: 4px;
  overflow: hidden;
  flex-shrink: 0;
}
.progress-bar {
  width: 250px;
  border-radius: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), #0f0f0f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.right-action {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skip-action{
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
.top-section {
  align-self: stretch;
  backdrop-filter: blur(4px);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px 12px 8px;
  box-sizing: border-box;
}
.page-title {
  flex: 1;
  position: relative;
  line-height: 32px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), #0f0f0f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.large-title-grp {
  flex: 1;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.lower-section-2 {
  align-self: stretch;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 16px;
  box-sizing: border-box;
  text-align: center;
  font-size: 26px;
}
.navigation-2 {
  width: 100%;
  position: fixed;
  height: 190px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 47px 0px 0px;
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Montserrat;
  z-index: 1000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.99), #fff 7.5%, rgba(255, 255, 255, 0.96) 76.5%, rgba(255, 255, 255, 0));
}

// FORM
.form-new-profile {
  width: 430px;
  position: relative;
  height: 100%;
  text-align: left;
  font-size: 16px;
  color: #0047ab;
  font-family: Montserrat;
  margin-top: 190px;
}
.profile-form {
  /* position: absolute; */
  /* overflow: hidden; */
  /* overflow-y: scroll; */
  top: 0px;
  width: 100%;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px 0px;
}
form {
  width: 100%;
}
.info-section {
  margin: 16px 0px 16px 0px;
  gap: 16px 0px;
  padding: 12px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px #d6e7ff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  h2 {
    font-size: 20px;
    font-weight: 500;
  }
} label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
} option {
  font-size: 12px;
  font-weight: 400;
  color: $font-dark;
} 

// .input {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-start;
// }
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.option-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
select {
  width: 100%;
  position: relative;
  border-radius: 12px !important;
  background: linear-gradient(#fff, #fff), #0f0f0f !important;
  border: 1.5px solid #0047ab !important;
  box-sizing: border-box !important;
  height: 49.5px !important;
  padding: 4px 16px !important;
  font-size: 16px !important;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
select.multi-select {
  font-size: 14px !important;
  font-weight: 500;
  color: $font-dark;
  width: 100%;
  position: relative;
  // border-radius: 12px !important;
  // background: linear-gradient(#fff, #fff), #0f0f0f !important;
  // border: 1.5px solid #0047ab !important;
  box-sizing: border-box !important;
  height: auto !important;
  max-height: 120px !important;
  // padding: 4px 16px !important;
}
input {
  font-size: 14px !important;
  font-weight: 500;
  color: $font-dark;
  width: 100%;
  position: relative;
  border-radius: 12px !important;
  background: linear-gradient(#fff, #fff), #0f0f0f !important;
  border: 1.5px solid #0047ab !important;
  box-sizing: border-box !important;
  height: 49.5px !important;
  padding: 4px 16px !important;
}
#form-button  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="submit" i] {
  width: 70%;
  position: relative;
  color: $white;
  border-radius: 100px !important;
  border: none !important;
  background: linear-gradient(44.46deg, #0047ab, #3388ff) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 24px !important;
  box-sizing: border-box !important;
  text-align: center;
  font-size: 16px;
  font-family: Montserrat;
  }



  
// .mb-3.string.required.user_first_name,
// .mb-3.string.required.user_last_name {
//   margin-bottom: 0px !important;
//   width: 100%;
// }
// .mb-3.integer.required.user_age {
//   margin-bottom: 0px !important;
//   width: 100%;
// }
// .mb-3.email.required.user_email {
//   margin-bottom: 0px !important;
//   width: 100%;
// }
// .mb-3.password.required.user_password {
//   margin-bottom: 0px !important;
//   width: 100%;
// }
// .mb-3.password.required.user_password_confirmation {
//   margin-bottom: 0px !important;
//   width: 100%;
// }
  
  // input#user_first_name,
  // input#user_last_name,
  // input#user_age,
  // input#user_email,
  // input#user_password,
  // input#user_password_confirmation {
  //   width: 100%;
  //   position: relative;
  //   color: $font-dark;
  //   border-radius: 10px;
  //   background-color: #fff;
  //   border: 1.5px solid #0047ab;
  //   box-sizing: border-box;
  //   height: 49.5px;
  //   overflow: hidden;
  //   flex-shrink: 0;
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   justify-content: flex-start;
  //   padding: 12px 16px;
  //   text-align: left;
  //   font-size: 16px;
  //   font-family: Montserrat;
  // }