.profile-form {
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.profile-form h1, .profile-form h2, .profile-form h3 {
  color: #333;
}

.profile-form div {
  margin-bottom: 15px;
}

.profile-form label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.profile-form input[type="text"],
.profile-form select,
.profile-form input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-form .form-actions {
  text-align: right;
}




@media (max-width: 576px) {
  .profile-form {
    margin: 10px;
    padding: 10px;
  }
  .profile-form .form-actions {
    text-align: center;
  }
}

.form-step.active-step {
  display: block;
}

