.signup-input input, .login-input input {
  background-color: #0047AB;
  color: white;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}


.login-checkbox {
  margin-top: 15px;
}

input.login-btn{
  background-color: #0047AB;
  color: white;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}
