<% if @activity.attendees.any? %>
  <i class="fa-solid fa-person"></i>
  <p><%= pluralize(@activity.attendees.count, 'user') %> attending this activity</p>
<% else %>
  <p>No users are currently attending this activity</p>
<% end %>
