<div class="footer-navbar">
  <nav class="app-navbar">
    <%= link_to 'Home', user_path, class: 'navbar-item button-style search-button' %>
    <%= link_to 'Find a match', users_path, class: 'navbar-item button-style search-button' %>
    <a href="/search" class="navbar-item button-style search-button">Find an activity</a>
    <a href="/profile" class="navbar-item button-style">Profile</a>
    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'navbar-item button-style sign-out-button' %>
  </nav>
</div>
