<div class="container text-center">
  <div class="buttons-landing">
    <button class="btn btn-lg login-btn">
      <%= link_to new_user_session_path, class: "undecorated-link"  do %>
        <span>Login</span>
      <% end %>
    </button>
    <button class="btn btn-lg signup-btn">
      <%= link_to new_user_registration_path, class: "undecorated-link" do %>
        <span>Sign-up</span>
      <% end %>
    </button>
  </div>
</div>
