.btn-blue-primary {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #0047AB;
  color: white;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  background-color: #B0C4DE;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 10vh; /* Make the container take up the full viewport height */
}

.btn-plus {
  background-color: #6c63ff;
  border: none;
  color: white;
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  margin: 4px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 16px; // Adjusted for better visibility
  padding: 0.75rem 1.5rem; // Adjusted to accommodate longer text
  // width and height removed to allow the button to grow with its content
  text-decoration: none;
  transition: background-color 0.3s ease;
}
