.background-div {
  background-image: url('');
  background-size: cover; /* Cover the div completely */
  background-position: center; /* Center the background image */
  height: 75vh;
  width: 100%;
}
