.activity-show-page{
  background-image: linear-gradient(90deg, $brand-05 0%, $brand-06 35%, $brand-07 100%);
}

.activity-show-container {
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
  height: 32px;
  padding: 62px 16px 68px;
}

.activity-title{
  position: relative;
  font-size: 26px;
  color: #fff;
  display: inline-block;
  padding: 80px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

.activity-show-title{
  padding: 50px;
}

.activity-subtitle{
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: Montserrat;
  color: #fff;
  text-align: center;
}

.container-lhs-curve1{
  background-color: #D6E7FF;
  border-radius: 55px 0px 0px 0px;
  margin-top: 150px;
  padding: 10px;
  box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: linear-gradient(#fff, #fff), #0f0f0f;
  height: 100vh;
}

.profile-h2-show{
  color: white;
  margin-left: 0;
  font-family: Montserrat;
  text-decoration: none;
}

.activity-date, .activity-location, .activity-attendees, .activity-show-review, .activity-attendees-btn, .activity-attendees, .review-instance{
  padding:15px;
}

.activity-attendees-btn{
  width: 150px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 100px;
  background: linear-gradient(44.46deg, #0047AB 0%, #3388FF 100%);
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  color: white;
  margin-left: 120px;
}

.activity-h2-show1{
  font-size: 18px;
  text-align: center;
  position: relative;
  padding: 10px;
  color: gray;
}

.activity-h2-show2{
  font-size: 16px;
  text-align: center;
  position: relative;
  padding: 15px;
  color: gray;
  margin-left: 12px;
}

.activity-date {
  font-size: 20px;
}

.activity-show-review{
  padding-bottom: 80px;
}

// .activity-attendees-btn, .activity-attendees {
//   margin-left: 80px;
//   font-size: 18px;
//   text-align: center;
//   position: relative;
//   padding: 15px;
// }

.card-button-index-review {
  width: 150px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 100px;
  background: linear-gradient(44.46deg, #0047AB 0%, #3388FF 100%);
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  color: white;
  margin-left: 120px;
}

.background-div {
  background-image: url('');
  background-size: cover; /* Cover the div completely */
  background-position: center; /* Center the background image */
  height: 75vh;
  width: 100%;
}

.team8-title{
  position: relative;
  font-size: 26px;
  color: black;
  display: inline-block;
  padding: 10px;
  margin-bottom: 0.5rem;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

// .box-container{
//   // padding-left: 50px;
//   // // // margin-left: 100px;
//   // display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   display: center;
// }
