.profile-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.user-card {
  flex: 0 0 calc(50% - 20px); /* Each card takes up 50% of the container minus the gap */
  margin-bottom: 20px;
  box-sizing: border-box; /* Include padding and border in the width */
}

.user-card img.user-avatar {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
}

.card-body {
  padding: 15px;

}

.card-title {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.card-text {
  font-size: 1rem;
  color: #666;
  text-align: left;
}
