<ul>
  <div>
    <i class="fa-solid fa-person-running"></i>
    <h1>Marathon 2024</h1>
    <div>
      <h6>1991 Solymar Street</h6>
      <p class="large-regular">Ciudad de la Costa</p>
    </div>
  </div>
</ul>
<!-- 
<h1>Available Activities</h1>

<ul>
  <% @activities.each do |activity| %>
    <li>
      <h2><%= link_to activity.name, activity %></h2>
      <p><%= activity.description %></p>
    </li>
  <% end %>
</ul>
<ul>
  <% @activities.each do |activity| %>
    <%= render partial: "/shared/activity_card", collection: @activities, as: :activity %>
  <% end %>
</ul>
-->